body {
  background-color: #1a1a1a;
}

.App {
  text-align: center;
}

/* Button  ********** */

.user-profile {
  width: 120px;
  height: 45px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover,
.user-profile:focus {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}

.user-profile-inner {
  width: 118px;
  height: 40px;
  border-radius: 13px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.user-profile-inner svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

/* Font  ********** */

.font {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/* Input  ********** */

.messageBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  /* margin-top: 83vh; */
}
.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.input-chat-msg {
  background-color: #5b879a;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
}

.output-chat-msg {
  background-color: #586a6e;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  margin-right: auto;
}

.selected {
  background-color: #5b879a;
  width: 100%;
  border-radius: 10px;
}
